
extends layout

block content

	nav.navbar.navbar-default.navbar-fixed-top
		.container
			.navbar-header
				.navbar-brand Control Panel
			ul.nav.navbar-nav.navbar-right
				li
					.navbar-btn#btn-logout.btn.btn-default
						| Sign Out

	include account
	include modals/alert
	include modals/confirm

block scripts
	script(src='#{baseURL}/vendor/jquery-2.2.3.min.js')
	script(src='#{baseURL}/vendor/jquery.form.min.js')
	script(src='#{baseURL}/vendor/bootstrap.min.js')
	script(src='#{baseURL}/js/views/home.js')
	script(src='#{baseURL}/js/controllers/homeController.js')
	script(src='#{baseURL}/js/form-validators/accountValidator.js')